.sideAnchor {
    -fx-background-color: #070F2B;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
    -fx-border-radius: 0 20px 20px 0;
    -fx-border-color: #1B1A55;
    -fx-background-radius: 0 20px 20px 0;
}

.sideLabel {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 0px 20px 0px 0px;
    -fx-margin: 10px;

}

.button {
    -fx-border-width: 2px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-background-color: #1B1A55;
    -fx-background-radius: 10px 10px 10px 10px;
}

.button:hover {
    -fx-background-color: #535C91;
}

.button:pressed {
    -fx-background-color: #070F2B;
}

.text-field {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-color: White;
    -fx-border-style: solid;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-background-insets: 1px 1px 1px 1px;
}

.root {
    -fx-background-color: #535C91;
}


.bottomConsole {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 10px 10px 10px 10px;
}

.canvasConsole {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 10px 10px 10px 10px;
}

